colorama==0.4.6

pandas==2.2.3
scikit-learn==1.5.1
scikit-learn-intelex==2025.2.0
nltk==3.9.1
pyarrow==19.0.1
matplotlib==3.10.0
shap==0.46.0

fastapi==0.115.8
pytz==2025.1
uvicorn==0.34.0

httpx==0.28.1
pytest-asyncio==0.25.3

google-cloud-storage==3.0.0

protobuf==3.20.2
ipython==8.32.0
